* {
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    body {
        padding-top: 82px;
    }
}

.navbar {
    padding: 15px;
}

.navbar-default {
    border: 0;
    margin-bottom: 0;
    border-bottom: 2px solid #0ba1e4;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    padding: 16px 25px 5px !important;
}

.home .index-row {
    padding: 50px 0;
}

.index-row h2 {
    margin-bottom: 30px;
}

.index-row .line {
    border-top: 1px solid #0ba1e4;
}

.index-row .line-big {
    margin: 30px auto 26px;
    border-width: 2px;
    width: 80px;
}

.our-data .our-data-item .number-wrapper {
    font-size: 70px;
    line-height: 1.5em;
    color: #0ba1e4;
}

.our-data .our-data-item .title {
    color: #919191;
}

.our-data .our-data-item {
    text-align: center;
}

.our-whyus {
    background-color: #e1e1e1;
}

.our-whyus .our-whyus-item {
    transition: all 0.225s ease-in-out;
    text-align: center;
    background-color: #fafafa;
    border: 1px solid #c1c1c1;
    padding: 10px;
}

.our-whyus-item .glyphicon {
    color: #0ba1e4;
    font-size: 80px;
    line-height: 1.5em;
}

.our-whyus-item:hover {
    background-color: #0ba1e4;
    border: 1px solid #0ba1e4;
    box-shadow: 0 0 20px 0 rgba(45, 183, 245, .5);
    color: #ffffff;
}

.our-whyus-item:hover > .glyphicon {
    color: #ffffff;
}

.our-whyus-item h3 {
    line-height: 1.5em;
}

.our-whyus-item p {
    line-height: 1.5em;
}

.card-box {
    padding-top: 20px;
    padding-bottom: 60px;
}

.card-area {
    padding: 0;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-start: 0;
}

.card-area .card-item {
    float: left;
    position: relative;
    list-style: none;
    width: 25%;
    background-color: #fafafa;
    border: 1px solid #c1c1c1;
    transition: all 0.3s ease-in-out;
}

.card-area .card-active {
    background-color: #0ba1e4;
    border: 1px solid #0ba1e4;
    box-shadow: 0 0 20px 0 rgba(45, 183, 245, .5);
    color: #fff;
    z-index: 11;
}

.card-area .card-item .card-title {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c1c1c1;
}

.card-area .card-item .card-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-area .card-item .card-content p {
    line-height: 3em;
}

.card-area .card-item .card-content a {
    padding-left: 20px;
    padding-right: 20px;
}

.btn-outline-blue {
    color: #0ba1e4;
    background: transparent;
    border-color: #0ba1e4;
}

a:visited {
    text-decoration: none;
}

.btn-outline-blue:hover {
    background-color: #0ba1e4;
    color: #ffffff;
}

.our-example {
    background-color: #f5f5f5;
}

.our-example-box {
    padding-top: 30px;
    padding-bottom: 30px;
}

.our-example-popover {
    height: 190px;
    padding-bottom: 0;
}

.our-example-popover .popover {
    height: 160px;
    width: 100%;
    max-width: 100%;
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #34a263;
    box-shadow: none;
    z-index: 10;
    position: relative;
    display: block;
    float: left;
    margin: 0;
}

.popover.top > .arrow {
    border-top-color: #34a263;
}

.popover-title-touxiang {
    width: 100%;
    height: 50px;
    position: absolute;
    top: -26px;
    margin: 0;
    left: 0;
    text-align: center;
}

.popover-title-touxiang img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.popover-content {
    margin: 9% 0 0;
}

.popover-content-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.popover-content-tag {
    position: absolute;
    font-size: 12px;
    bottom: 12px;
    width: 91%;
}

.popover-content-tag .bingzhong {
    float: left;
    background-color: #aaa;
    color: #fff;
    padding: .5% 3.5%;
    max-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "SourceHanSansCN-Light", "Lantinghei SC", "Open Sans", "Hiragino Sans GB", "Microsoft YaHei", "STHeiti-Light", "WenQuanYi Micro Hei", "Arial", "SimSun", "sans-serif";
}

.position-address {
    max-width: 50%;
    float: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.position-icon {
    background-image: url("../images/position-icon.svg");
    background-repeat: no-repeat;
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
    float: left;
    margin-top: 3px;
    margin-right: 4px;
}

.position-address span {
    color: #aaa;
    font-family: "SourceHanSansCN-Light", "Lantinghei SC", "Open Sans", "Hiragino Sans GB", "Microsoft YaHei", "STHeiti-Light", "WenQuanYi Micro Hei", "Arial", "SimSun", "sans-serif";
}

.ac-figure-icon {
    margin-left: auto;
    margin-right: auto;
}

.glly-icon {
    background-image: url("../images/yhgl-icon.svg");
    background-repeat: no-repeat;
    background-size: 70px 70px;
    width: 70px;
    height: 70px;
}

.our-news {
    background-color: #ffffff;
}

.our-news-item {
    padding-top: 20px;
    padding-bottom: 20px;
}

.our-news-item img {
    object-fit: cover;
    width: 100%;
    height: 100px;
}

.our-news-item .media-left a {
    width: 140px;
    height: 110px;
    overflow: hidden;
    margin-bottom: 0;
}

.our-news-item .media-body {
    padding-top: 5px;
    padding-bottom: 5px;
}

.our-news-item p {
    color: #919191;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.5em;
    height: 3em;
    overflow: hidden;
    margin-bottom: 0;
    font-size: 12px;
}

.our-news-item .dynamic-li {
    color: #999;
    padding: 2px 0;
    font-size: 12px;
}

.our-news-item .dynamic-li a {
    float: right;
    display: inline-block;
    font-weight: 400;
    color: #999;
    margin-right: 10px;
}

.our-client {
    background-color: #e1e1e1;
}

.our-client-item {
    overflow: hidden !important;
}

.our-client-item .our-client-logo {
    text-align: center;
    border: 1px solid #c1c1c1;
    margin: 20px auto;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.our-client-item img {
    transition: all 0.3s ease-in-out;
    filter: grayscale(100%);
}

#clan-slider {
    position: fixed;
    bottom: 30%;
    right: .1%;
    z-index: 1000;
}

#clan-slider ul {
    margin: -2px 0 0 0;
    padding: 0;
    list-style: none;
}

#clan-slider ul li {
    display: block;
    margin: 2px 0 0 0;
    padding: 0;
    position: relative;
}

#clan-slider ul li a {
    display: block;
    overflow: hidden;
    width: 48px;
    height: 48px;
    border: 1px solid #0ba1e4;
    background-color: #f5f5f5;
    background-image: url("../images/clan-slider.png");
    background-repeat: no-repeat;
}

#slider-chat {
    background-position: 0 -92px;
}

#slider-qq {
    background-position: 0 -138px;
}

#slider-phone {
    background-position: 0 -184px;
}

#slider-wechat {
    background-position: 0 -230px;
}

#slider-goTop {
    background-position: 0 0;
}

#footer {
    padding: 0;
    background-color: #363636;
}

#footer .footer-item {
    height: 160px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 1em;
    border-left: 2px solid #c1c1c1;
    overflow: hidden;
}

#footer .footer-list h4 {
    color: #f5f5f5;
}

#footer .footer-list ul {
    margin: 25px 0 0 0;
    padding: 0;
    list-style: none;
}

#footer .footer-list ul li a {
    color: #f5f5f5;
    line-height: 2.5em;
}

#footer .footer-wechat img {
    max-width: 132px;
}

#footer .footer-wechat p {
    text-align: center;
    color: #f5f5f5;
    line-height: 2.5em;
}

#footer .footer-contact h2 {
    display: block;
    color: #ffffff;
    margin: 0;
    line-height: 52px;
}

#footer .footer-contact h2 img {
    width: 40px;
    height: 40px;
    margin-top: -6px;
    margin-right: 10px;
}

#footer .footer-item-last {
    border-right: 2px solid #c1c1c1;
}

#copyright {
    background-color: #666;
}

#copyright p {
    text-align: center;
    margin: 10px;
    line-height: 40px;
    color: #fafafa;
}
